<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DazzleDesign_QuickNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DazzleDesign_QuickNotes.Properties.Settings>
            <setting name="accepttab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dragdrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wordwrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="detecturl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readonlydoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autosave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controlbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displaytop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deffont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="defforecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="hcolor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="bulletindent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formloc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="formstate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="formsize" serializeAs="String">
                <value>837, 560</value>
            </setting>
            <setting name="heighttrack1" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="heighttrack2" serializeAs="String">
                <value>0</value>
            </setting>
        </DazzleDesign_QuickNotes.Properties.Settings>
    </userSettings>
</configuration>